
          .thumb{
            margin-bottom: 30px;
        }
                  
        .page-top{
            margin-top:25px;
        }

   
img.zoom {    
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    cursor: pointer;
}
        
.zoom:hover{
  -webkit-transform: scale(1.05); 
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);

}   

.imagenfondo{
    background-image: url("colores.jpg");
    background-size: cover;
    background-position: center;
  
}
.swal2-popup {
  background: #fff0 !important;
}

.container16-9 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.container4-3 {
  padding-top: 75%; /* 4:3 Aspect Ratio */
}

.container3-2 {
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}
.iframe-responsive{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}